@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    
    <h2>¡Bienvenido al Sistema de Reportes e Indicadores!</h2>
    <p>
        Este sistema te proporcionará acceso a datos cruciales y análisis detallados para respaldar tus decisiones. Explora nuestros informes y gráficos con confianza, y no dudes en contactarnos si necesitas ayuda o tienes alguna pregunta.
    </p>
    <p>¡Que tengas una experiencia productiva y exitosa!.</p>

</div>
